{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{% static 'localPage/styles.css' %}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <script>
        document.addEventListener('DOMContentLoaded',()=>{
            fetch('http://10.1.0.126/info')
            .then(res=>res.json())
            .then(data=>{
                console.log(data)
            })
            .catch(e=>{
                console.log(e);
            })
        })
    </script> 
    
</head>
<body>
    <div class="container">
        <div class="heder">
            <h1 class="htitle">
                <strong>محتوى غير مسموح</strong>
            </h1>
        </div>
        <div class="contant">
            <img class="logo" src="{% static 'localPage/logo.jpg' %} " alt="logo.jpg">
            <p class="worn">
                تم تحديد الموقع ضمن <strong class="strong">مديرية امن الاتصالات</strong> 
                <br>
                تم ارسال معلومات المستخدم الى الجهة المعنية
            </p>
            <p class="message">
            ان هذا العمل غير قانوني وسوف يعرضك للمسائلة القانونية بسبب المخاطر التي تسببها مثل هذه المواقع لما تحتويه من فايروسات ومالويرز لذا يرجى تجنب استخدامها
            </p>
        </div>
    </div>
</body>
</html>