.container{
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;

}
.heder{
    background-color: brown;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.logo{
    width: 75%;
}
.message{
    font-family: Lucida Console;
    font-size: x-large;
}
.htitle{
    font-size: xx-large;
}
.worn{
    font-size: xx-large;
    font-weight: bold;
}
.strong{
    color: brown;
}